$font-primary: 'Inter',
sans-serif;
$font-secondary: 'Poppins',
sans-serif;
.mainMenuItem {
    color: #fff;
    padding: 20px 0;
    &:not(:last-child) {
        border-bottom: 1px solid rgba(230, 232, 236, 0.06);
    }
}

.mainMenuLink {
    display: flex;
    align-items: center;
}

.mainMenuIcon {
    display: inline-block;
}

.mainMenuTitle {
    color: #ffffff66;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    font-family: $font-primary;
    transition: color 0.2s;
    &:hover {
        color: #ffffff;
    }
}