@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: local('Inter'), url('../fonts/inter/Inter-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: local('Inter'), url('../fonts/inter/Inter-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local('Inter'), url('../fonts/inter/Inter-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: local('Inter'), url('../fonts/inter/Inter-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: local('Inter'), url('../fonts/inter/Inter-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local('Inter'), url('../fonts/inter/Inter-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: local('Inter'), url('../fonts/inter/Inter-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: local('Inter'), url('../fonts/inter/Inter-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Light.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local('Poppins'), url('../fonts/poppins/Poppins-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: local('Poppins'), url('../fonts/poppins/Poppins-ExtraBold.ttf') format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: local('Poppins'), url('../fonts/poppins/Poppins-Black.ttf') format('ttf');
}