.layout {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

.layoutContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

.layoutContent {
    padding: 16px 16px 0;
}