@import "../../styles/app/core/variables.scss";
.headerNavList {
  display: flex;
  align-items: center;
}

.headerNavListItem {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
  transition: color 0.3s ease;
  color: #b2bdd5;

  &:hover {
    color: #fff;
  }
}

.headerNavListLink {
  color: #b2bdd5;
  transition: color 0.3s ease;

  &:hover {
    color: #fff;
  }
}
