.header {
    padding: 16px 24px;
    background: #fff;
    box-shadow: 0 0px 3px -2px #000;
    margin-bottom: 16px;
}

.headerContent {}

.headerTitle {
    font-size: 22px;
    line-height: 32px;
}