.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background: linear-gradient( 180deg, #181053 -21.94%, #301840 17.1%, #3f033b 62.89%, #592635 110.93%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 250px;
    height: 100%;
    padding: 16px 16px 28px;
    transition: width 0.2s ease-in;
    .toggler {
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        fill: #ffffff66;
        transition: fill 0.2s;
        &:hover {
            fill: #ffffff;
        }
    }
}

.sidebar_inactive {
    width: 80px;
    .toggler {
        right: -50px;
        fill: #333;
        &:hover {
            fill: #000;
        }
    }
    .sidebarSearchButton {
        left: 10px;
        top: 20px;
    }
    .sidebarLogo {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.sidebarTop {
    position: relative;
    margin-bottom: 38px;
}

.sidebarLogo {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}

.sidebarLogoImg {
    max-width: 100%;
}

.sidebarMenu {
    .mainMenuIcon {
        padding-left: 16px;
        padding-right: 12px;
    }
}

.sidebarFooter {
    margin-top: auto;
}

.sidebarFooterButton {
    background: transparent;
    border: 1px solid #ffffff14;
    padding: 8px 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
    color: #ffffff66;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
        border: 1px solid #ffffff;
        color: #ffffff;
    }
    .sidebarFooterButtonIcon {
        margin-right: 22px;
    }
}