@import "../../styles/app/core/variables.scss";
.sidebar {
  height: 100%;
  position: relative;
  background-color: #f2f2f5;
  box-shadow: 1px 0px 8px 0px rgb(0 0 0 / 10%);
  padding: 50px 30px 30px;
}

.sidebarContainer {
    padding: 0 30px;
}

.sidebarLogo {
  margin-bottom: 50px;
}