* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.toggle-menu-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    fill: #fff;
}