/* Fonts */

$font-family-inter: 'Inter',
'Arial',
'Helvetica',
sans-serif;
$font-family-poppins: 'Poppins',
'Arial',
'Helvetica',
sans-serif;
$font-family-primary: $font-family-inter;
$font-family-secondary: $font-family-poppins;

/* Colors */

$secondary-color: #85bd0d;